{# templates/home/helloworld.html.twig #}
<h1>Hello world</h1>

<ul>
{% for card in cards %}
    <li>{{card.name}} ({{card.pitch}})</li>
    <ul>
    {% for printing in card.printings %}
        <li>{{printing.cardId}} {% if printing.edition.id != 'N' %}- {{ printing.edition.name }}{% endif %} ({{ printing.foiling.name }})</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>