{% extends "base.html.twig" %}

{% block body %}
<h1>{{ set.name }} ({{ cards|length }})</h1>

<ul>
{% for printings in cards %}
    <li>{{ printings.card.name }} ({{ printings.card.pitch }}) {{ printings.printings|first.cardId }}</li>
    <ul>
    {% for printing in printings.printings %}
        <li>{{ rarityHelper.getRarityDescriptionById(printing.rarity) }} - {% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }} {% endif %} {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }} {{ foilingHelper.getFoilingNameById(printing.foiling) }}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}