{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_card_setoverviewpage') }}">Set Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>{{ set.name }}</h1>
    <table class="table table-hover table-sm table-striped card-printing">
        <thead>
            <tr>
                <th scope="col" style="width: 80px;">Code</th>
                <th scope="col" colspan="2" style="width: 300px;">Name</th>
                {# <th scope="col">Edition</th> #}
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for printings in cards %}
            {% for printing in printings.printings %}
                <tr>
                    <td>{{ printings.printings|first.cardId }}</td>
                    <td style="width:20px">
                        {% set rarity = rarityHelper.getRarityDescriptionById(printing.rarity) %}
                        {% if rarity == 'Token' %}
                            <span class="rarity-circle common">T</span>
                        {% elseif rarity == 'Promo' %}
                            <span class="rarity-circle promo">P</span>
                        {% elseif rarity == 'Common' %}
                            <span class="rarity-circle common">C</span>
                        {% elseif rarity == 'Rare' %}
                            <span class="rarity-circle rare">R</span>
                        {% elseif rarity == 'Super Rare' %}
                            <span class="rarity-circle superrare">S</span>
                        {% elseif rarity == 'Majestic' %}
                            <span class="rarity-circle majestic">M</span>
                        {% elseif rarity == 'Legendary' %}
                            <span class="rarity-circle legendary">L</span>
                        {% elseif rarity == 'Marvel' %}
                            <span class="rarity-marvel"></span>
                        {% elseif rarity == 'Fabled' %}
                            <span class="rarity-fabled"></span>
                        {% endif %}
                   </td>
                   <td style="width: 280px;">
                        {{ printings.card.name }}

                        {% if 1 ==  printings.card.pitch %}
                            <div class="pitch pitch-1"></div>
                        {% elseif 2 == printings.card.pitch %}
                            <div class="pitch pitch-2"></div><div class="pitch pitch-2"></div>
                        {% elseif 3 == printings.card.pitch %}
                            <div class="pitch pitch-3"></div><div class="pitch pitch-3"></div><div class="pitch pitch-3"></div>
                        {% endif %}
                    </td>
                        {# <td>{% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }}{% endif %}</td> #}
                        <td>{{ foilingHelper.getFoilingNameById(printing.foiling) }}
                        {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }}</td>
                </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{# {% for printings in cards %}
        <li>{{ printings.card.name }} ({{ printings.card.pitch }}) {{ printings.printings|first.cardId }}</li>
        <ul>
        {% for printing in printings.printings %}
            <li>{{ rarityHelper.getRarityDescriptionById(printing.rarity) }} - {% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }} {% endif %} {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }} {{ foilingHelper.getFoilingNameById(printing.foiling) }}</li>
        {% endfor %}
        </ul>
    {% endfor %} #}