{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_card_setoverviewpage') }}">Set Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
{% set editionSets = [
    'WTR',
    'ARC'
] %}
<div class="container-xxl">
    <h1>{{ set.name }}</h1>
    <form class="mb-3" aria-label="Default select example" {{ stimulus_controller('printing') }}>
        <select class="form-select w-auto"  name="foiling" data-action="change->printing#update">
            <option value="" disabled selected hidden>Filter on foiling</option>
            <option value="">All</option>
            <option value="S">Standard</option>
            <option value="R">Rainbow Foil</option>
            <option value="C">Cold Foil</option>
        </select>
    </form>
    
        {% include 'printing/printings_table.html.twig' with { set: set, cards: cards, editionSets: editionSets } %}
    
</div>

{% endblock %}

{# {% for printings in cards %}
        <li>{{ printings.card.name }} ({{ printings.card.pitch }}) {{ printings.printings|first.cardId }}</li>
        <ul>
        {% for printing in printings.printings %}
            <li>{{ rarityHelper.getRarityDescriptionById(printing.rarity) }} - {% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }} {% endif %} {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }} {{ foilingHelper.getFoilingNameById(printing.foiling) }}</li>
        {% endfor %}
        </ul>
    {% endfor %} #}