{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_card_setoverviewpage') }}">Set Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
<h1>{{ set.name }}</h1>
<ul>
{% for printings in cards %}
    <li>{{ printings.card.name }} ({{ printings.card.pitch }}) {{ printings.printings|first.cardId }}</li>
    <ul>
    {% for printing in printings.printings %}
        <li>{{ rarityHelper.getRarityDescriptionById(printing.rarity) }} - {% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }} {% endif %} {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }} {{ foilingHelper.getFoilingNameById(printing.foiling) }}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}