{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_card_setoverviewpage') }}">Set Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
    <div class="container-xxl" {{ stimulus_controller('filter printing') }}>
        <h1>{{ set.name }}</h1>
        {{ form_start(form, { attr: {'data-filter-target': 'form', 'data-printing-target': 'formpje' } }) }}
 
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        {{ form_widget(form.foiling) }}

        <div class="form-check form-switch">
                {{ form_widget(form.hide) }}
                <label class="form-check-label" for="hideOwnedCards">Hide owned cards</label>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }} 
        {% include 'printing/printings_table.html.twig' %}
        
    </div>
{% endblock %}

{% block printing_table %}
    <turbo-stream action="replace" targets="#printing_table">
        <template>
            {% include 'printing/printings_table.html.twig' %}
        </template>
    </turbo-stream>
{% endblock %}