{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_card_setoverviewpage') }}">Set Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>{{ set.name }}</h1>
    <form class="mb-3" aria-label="Default select example" {{ stimulus_controller('printing') }}>
        <select class="form-select w-auto"  name="foiling-filter" data-action="change->printing#update">
            <option value="" disabled selected hidden>Filter on foiling</option>
            <option value="">All</option>
            {% for foilingId, foilingName in foilingHelper.getAllFoilings %}
                <option value="{{ foilingId }}">{{ foilingName }}</option>
            {% endfor %}
        </select>
    </form>
    
    {% include 'printing/printings_table.html.twig' with { set: set, cards: cards } %}
    
</div>

{% endblock %}