{% extends "base.html.twig" %}

{% block body %}
  <div class="contianer text-center mb-3">
    <h1 class="text-secondary pb-3">Classes</h1>

    <!-- Shared structure: Bootstrap grid for both list and tile views -->
    <div class="row d-none d-md-flex align-items-center">
      {% for class in classes %}
        <div class="col col col-md-6 col-lg-4 col-xxl-3 d-flex justify-content-center align-items-center">
          <a href="{{ path('app_collection_managecollectionbyclass', {className: class.slug}) }}"  data-caption="{{ class.name}}" class="classImage {{ class.slug }} my-3 d-flex justify-content-center align-items-center"></a>
        </div>
      {% endfor %}
    </div>

    <!-- List layout for mobile -->
    <div class="d-block d-md-none">
      <ul class="list-group">
        {% for class in classes %}
          <li class="list-group-item">
            <a href="{{ path('app_collection_managecollectionbyclass', {className: class.slug}) }}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ class.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %} 