{% extends "base.html.twig" %}

{% block breadcrumblist %}
    {# <li class="breadcrumb-item"><a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="#">My Collection</a></li> #}
    {# <li class="breadcrumb-item active" aria-current="page">Booster set overview</li> #}
{% endblock %}

{% block body %}
  <div class="container text-center mb-3">
    <h1 class="text-secondary pb-3">Booster sets</h1>

    <!-- Shared structure: Bootstrap grid for both list and tile views -->
    <div class="row d-none d-md-flex align-items-center">
      {% for set in sets %}
        <div class="col col-md-6 col-lg-4 col-xxl-3  d-flex justify-content-center align-items-center">
          <a href="{{ path('app_collection_managecollectionbyset', {setId: set.id}) }}"  data-caption="{{set.name}}" class="setImage _{{ set.id|lower }} my-3 d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/set_logos/' ~ set.logo) }}">
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- List layout for mobile -->
    <div class="d-block d-md-none">
      <ul class="list-group">
        {% for set in sets %}
          <li class="list-group-item py-3">
            <a href="{{ path('app_collection_managecollectionbyset', {setId: set.id}) }}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"><img src="{{ asset('images/set_logos/' ~ set.logo) }}" style="max-height: 25px;"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %} 