{% extends "base.html.twig" %}

{% block body %}
  <div class="container text-center mb-3">
    <h1 class="text-secondary pb-3">Booster sets</h1>

    <!-- Shared structure: Bootstrap grid for both list and tile views -->
    <div class="row d-none d-md-flex align-items-center">
      {% for set in sets %}
        <div class="col col-md-6 col-lg-4 col-xxl-3  d-flex justify-content-center align-items-center">
          <a href="{{ path('app_collection_managecollectionbyset', {setId: set.id}) }}"  data-caption="{{set.name}}" class="setImage _{{ set.id|lower }} my-3 d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/set_logos/' ~ set.logo) }}">
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- List layout for mobile -->
    <div class="d-block d-md-none">
      <ul class="list-group">
        {% for set in sets %}
          <a href="{{ path('app_collection_managecollectionbyset', {setId: set.id}) }}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
            <li class="list-group-item py-3">
              <img src="{{ asset('images/set_logos/' ~ set.logo) }}" style="max-height: 25px;">
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}