{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_home_homepage') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Booster set overview</li>
{% endblock %}

{% block body %}
<div class="container text-center setOverview">
<h1 class="text-secondary">Booster sets</h1> 
  <div class="row align-items-center">
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "HNT"}) }}"  data-caption="The Hunted" class="setImage my-3 hnt d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/the_hunted_logo.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "ROS"}) }}" data-caption="Rosetta" class="setImage my-3 ros d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/logo_rosetta_full.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "MST"}) }}" data-caption="Part the Mistveil" class="setImage my-3 mst d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/logo_mst.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "HVY"}) }}" data-caption="Heavy Hitters" class="setImage my-3 hvy d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/heavy_hitters_logo.original.png') }}">
      </a>
    </div>
  {# </div>

  <div class="row align-items-center gx-3"> #}
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "EVO"}) }}" data-caption="Bright Lights" class="setImage my-3 evo d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/bright_lights.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "DTD"}) }}" data-caption="Dusk Till Dawn" class="setImage my-3 dtd d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/dusk_till_dawn_logo.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "OUT"}) }}" data-caption="Outsiders" class="setImage my-3 out d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/outsiders23012.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "DYN"}) }}" data-caption="Dynasty" class="setImage my-3 dyn d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/dynasty_logo_re.original.png') }}">
      </a>
    </div>
  {# </div>


  <div class="row align-items-center gx-3 "> #}
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "1HP"}) }}" data-caption="History Pack 1" class="setImage my-3 hp1 d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/1hp_stacked.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "UPR"}) }}" data-caption="Uprising" class="setImage my-3 upr d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/uprising.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "EVR"}) }}" data-caption="Everfest" class="setImage my-3 evr d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/everfest.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "ELE"}) }}" data-caption="Tales of Aria" class="setImage my-3 ele d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/toa_logo.original.png') }}">
      </a>
    </div>
  {# </div>

  <div class="row align-items-center gx-3"> #}
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "MON"}) }}" data-caption="Monarch" class="setImage my-3 mon d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/monarch.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "CRU"}) }}" data-caption="Crucible" class="setImage my-3 cru d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/cru_logo_stacked.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{{ path('app_printing_printingsbyset', {setId: "ARC"}) }}" data-caption="Arcane Rising" class="setImage my-3 arc d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/set_logos/ARC.original.png') }}">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      {# <div class="setImage my-3 wtr" data-caption="Welcome to Rathe"> #}
        <a href="{{ path('app_printing_printingsbyset', {setId: "WTR"}) }}" data-caption="Welcome to Rathe" class="setImage my-3 wtr d-flex justify-content-center align-items-center">
          <img src="{{ asset('images/set_logos/wtr_logo.original.png') }}">
        </a>
      {# </div> #}
    </div>
  </div>
</div>
{% endblock %} 