{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="container text-center" style="max-width: 400px;">
    <form method="post" data-turbo="false">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="font-weight-normal text-secondary">Welcome back!</h1>
        <h6 class="mb-5 font-weight-normal text-secondary text-center">Your collection awaits.</h6>

        <div class="form-floating mb-3">
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder="jandewit@fabtcg.com" required autofocus>
            <label for="username" class="form-label">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="password" required>
            <label for="password">Password</label>
        </div>
        <div class="mb-3 text-start" style="border: 1px solid rgb(222, 226, 230); border-radius: 5px !important; padding-left: 10px;">
            <br />
            <b>Action - </b>If you have an account: enter your credentials, then <b>sign in</b>.
            <b>Go again</b><br />
            <br />
        </div>
        <div class="mb-3">
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="btn btn-lg btn-warning" type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
{% endblock %}
