
{% set editionSets = [
    'Welcome to Rathe',
    'Arcane Rising',
    'Crucible of War',
    'Monarch',
    'Tales of Aria',
] %}

{% for setName, sets in cardPrintingsResultSet.cardPrintings %}
    {% if (renderedSets is defined and setName not in renderedSets) or (renderedSets is not defined) %}
        <tr class="table-active text-center">
            <th colspan='7'>
                {{ setName }}
                <div class="visually-hidden"
                    data-infinitescroll-target="renderedSetsContainer"
                    data-rendered-sets="{{ setName }}"
                ></div>
            </th>
        </tr>
    {% endif %}

    <tr class="visually-hidden"
        data-infinitescroll-target="offset"
        data-next-offset="{{ cardPrintingsResultSet.nextOffset }}"
    ></tr>

    {% for printingId, printings in sets %}
        {% for printing in printings.printings %}
            {% set amount = 0 %}
            {% if userCollectedPrintings.containsKey(printing.uniqueId) %}
                {% set amount = userCollectedPrintings.get(printing.uniqueId) %}
            {% endif %}
            <tr>
                <td>
                    <div class="playset-icons-container" data-id="{{ printing.uniqueId }}" data-printing-target="playsetIconsContainer" >
                    {% set playsetSize = printing.card.playsetSize %}
                        {% for i in 1..playsetSize %}
                            <div class="card-icon
                                {% if i == 1 and amount > 0 %}filled{% endif %}
                                {% if i == 2 and amount > 1 %}filled{% endif %}
                                {% if i == 3 and amount > 2 %}filled{% endif %}
                            "></div>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <span class="cardId">{{ printing.cardId }}</span>
                </td>
                <td>
                    {% set rarity = rarityHelper.getRarityDescriptionById(printing.rarity) %}
                    {% if rarity == 'Marvel' %}
                        <span class="rarity-marvel"></span>
                    {% elseif rarity == 'Fabled' %}
                        <span class="rarity-fabled"></span>
                    {% else %}
                        <span class="rarity-circle {{ rarity|lower|replace({' ': ''}) }}">{{ rarity|first }}</span>
                    {% endif %}
                </td>
                <td>
                    {% set imageUrl = printing.imageUrl %}
                    {% if imageUrl ends with '.png' %}
                        {% set imageUrl = imageUrl|replace({'.png': '.webp'}) %}
                    {% endif %}
                    <span
                        class="card-image-popover-trigger"
                        {% if imageUrl is not empty %}
                            {% set filePath = asset(imageUrl) %}
                            {% set filePath = filePath|first == '/' ? filePath|slice(1) : filePath %}
                            {% if file_exists(filePath) or app.environment == 'dev'%}
                                data-bs-toggle="popover"
                                {# data-bs-content="<img src='{{ asset('images/card_images/images/thumbnails/large/HNT002-MV_BACK.webp') }}' class='img-fluid'>" #}
                                data-bs-content="<img src='{{ asset(imageUrl) }}' class='img-fluid'>"
                            {% endif %}
                        {% endif %}
                        style="cursor: default;"
                    >
                        {{ printings.card.name }}
                    </span>
                    {% if 1 ==  printings.card.pitch %}
                        <div class="pitch-container"><div class="pitch pitch-1"></div></div>
                    {% elseif 2 == printings.card.pitch %}
                        <div class="pitch-container"><div class="pitch pitch-2"></div><div class="pitch pitch-2"></div></div>
                    {% elseif 3 == printings.card.pitch %}
                        <div class="pitch-container"><div class="pitch pitch-3"></div><div class="pitch pitch-3"></div><div class="pitch pitch-3"></div></div>
                    {% endif %}
                </td>
                <td class="d-none d-lg-table-cell">
                    {# This column is only shown on md+ viewports #}
                    {% set foiling = foilingHelper.getFoilingNameById(printing.foiling) %}
                    {% if foiling != 'Standard' %}{{ foiling }}{% endif %}
                    {{ artVariationsHelper.getHumanReadableArtVariations(printing.artVariations) }}
                </td>
                <td class="d-lg-none">
                    {# This column is only shown on md and smaller viewports #}
                    {% if printing.foiling != 'S' %}{{ printing.foiling }}F{% endif %} {{ artVariationsHelper.getShortenedArtVariations(printing.artVariations) }}
                </td>
                {# when set has multiple editions, or when in 'Manage by class' view shown edition column #}
                {% if ((pageType == collectionPageType_CLASS) or (pageType == collectionPageType_CARD_FINDER) or (pageType == collectionPageType_SET and setName in editionSets)) %}
                    {# This edition column is only shown on md+ viewports #}
                    <td class="d-none d-lg-table-cell">
                        {% if printing.edition != "N" %}{{ editionHelper.getEditionNameById(printing.edition) }}{% endif %}
                    </td>
                    {# This edition column is only shown on md and smaller viewports #}
                    <td class="d-lg-none">{% if printing.edition != 'N' %}{{ printing.edition }}{% endif %}</td>
                {% endif %}
                <td>
                    <div class="input-group" data-quantity-id="amount-selector-{{ printing.uniqueId }}">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span data-popover-target="trigger" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="You need to be signed in to manage your collection.">
                                <button class="btn btn-outline-secondary decrementBtn btn-sm" type="button" disabled>-</button>
                            </span>
                        {% else %}
                            <button class="btn btn-outline-secondary decrementBtn btn-sm" type="button"
                                data-action="click->printing#decrementAmount"
                                data-printing-id-param="{{ printing.uniqueId }}"
                                data-printing-card-name-param="{{ printing.card.name }}"
                                data-printing-target="decrementButton"
                                {% if amount == 0 %}disabled{% endif %}>-</button>
                        {% endif %}
                        <input
                            class="form-control form-control-sm text-center"
                            type="text"
                            value="{{ amount }}"
                            data-original-value="{{ amount }}"
                            aria-label="0"
                            data-printing-target="amountInput"
                            disabled
                        >
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span data-popover-target="trigger" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="You need to be signed in to manage your collection.">
                                <button class="btn btn-outline-secondary incrementBtn btn-sm" type="button" disabled>+</button>
                            </span>
                        {% else %}
                            <button class="btn btn-outline-secondary incrementBtn btn-sm" type="button"
                                data-action="click->printing#incrementAmount"
                                data-printing-id-param="{{ printing.uniqueId }}"
                                data-printing-card-name-param="{{ printing.card.name }}"
                                data-printing-target="incrementButton"
                                {% if amount >= 99 %}disabled{% endif %}>+</button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
