
{% set editionSets = [
    'Welcome to Rathe',
    'Arcane Rising',
    'Crucible of War',
    'Monarch',
    'Tales of Aria',
] %}
<div id="printing_table" class="table-responsive">
    <div
        class="visually-hidden"
        data-infinitescroll-target="paginationInfoContainer"
        data-next-offset="{{ nextOffset }}"
        data-total-results="{{ cardsPaginator|length }}"
        {% if pageType == collectionPageType_CLASS %}
            data-fetch-more-url="{{
                absolute_url(
                    path(
                        name: 'app_collection_fetchcollectionviewrowsbyoffset',
                        parameters = { className: app.request.attributes.get('_route_params')['className'] }
                    )
                )
            }}"
        {% elseif pageType == collectionPageType_SET %}
            data-fetch-more-url="{{
                absolute_url(
                    path(
                        name: 'app_collection_fetchcollectionviewrowsbyoffset',
                        parameters = { setId: app.request.attributes.get('_route_params')['setId'] }
                    )
                )
            }}"
        {% elseif pageType == collectionPageType_PROMO %}
            data-fetch-more-url="{{ absolute_url(path('app_collection_fetchpromorowsbyoffset')) }}"
        {% endif %}
    >
    </div>
    <table class="table table-hover table-sm card-printing align-middle">
        <thead>

            <tr>
                <th scope="col" style="width: 48px;"></th>
                <th scope="col" style="width: 80px;">Code</th>
                <th scope="col" style="width: 22px;"></th>
                <th scope="col" style="min-width: 250px">Name</th>
                <th scope="col" style="width: 320px;" class="d-none d-lg-table-cell">Foiling</th>
                <th scope="col" style="min-width: 60px;" class="d-lg-none"></th>
                {% set setId = cardPrintingsTree|keys|first %}
                {% if ((pageType == collectionPageType_CLASS) or (pageType == collectionPageType_SET and setId in editionSets)) %}
                    {#  Show if just viewing one set (manage by set) and set has multiple editions or when in class view #}
                    <th scope="col" style="width: 90px;" class="d-none d-lg-table-cell">Edition</th>
                    <th scope="col" style="width: 20px;" class="d-lg-none"></th>
                {% endif %}
                <th scope="col" style="width: 100px;">Collection</th>
            </tr>
        </thead>
        <tbody id="card_printing_table_content">
            {% if cardPrintingsTree|length == 0 %}
                <tr class="no-hover">
                    <td colspan='7' class="text-center text-body-secondary">No cards found</td>
                </tr>
            {% else %}
                <tr class="no-hover">
                    <td colspan='7' class="text-center text-body-secondary">
                        Cards found: {{ cardsPaginator|length}}
                    </td>
                </tr>
                {% include 'collection/collector_view_table_content.html.twig' %}
            {% endif %}

        </tbody>
    </table>
</div>
