{% extends "base.html.twig" %}

{% block breadcrumblist %}
	<li class="breadcrumb-item">
		<a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="#">My Collection</a>
	</li>
	<li class="breadcrumb-item">
		<a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_setoverviewpage') }}">Booster set overview</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{ set.name }}</li>
{% endblock %}

{% block body %}
	<div class="container text-center">
		<h1 class="text-secondary">{{ set.name }}</h1>
	</div>
	<div class="container" {{ stimulus_controller('filter printing') }}>
		{{ form_start(form, { attr: {'data-filter-target': 'filterForm', 'data-printing-target': 'filterForm' } }) }}

		<div class="my-custom-class-for-errors">
			{{ form_errors(form) }}
		</div>

		<div class="container overflow-hidden">
			<div class="row justify-content-start align-items-center gy-3">


				<div class="col-xl-2 col-lg-3 col-6 foiling-filter" {% if not collectorView %} hidden {% endif %}>
					{{ form_widget(form.foiling, { attr: {'data-filter-target': 'foilingFilter'} }) }}
				</div>

				<div class="col-lg-3 col-6">
					{{ form_widget(form.cardName, { attr: {'data-filter-target': 'cardName'} }) }}
				</div>

				<div class="col-lg-6 col-12">
					<div class="form-check form-switch">
						{{ form_widget(form.hide) }}
						<label class="form-check-label" for="card_filter_form_hide">Hide completed playsets</label>
					</div>
				</div>

				<div class="col-12 d-flex justify-content-end">
					<div class="form-check form-switch">
						{{ form_widget(form.collectorView, { attr: {'data-filter-target': 'collectorViewFilter'} }) }}
						<label class="form-check-label" for="card_filter_form_collectorView">Show expanded collectors view</label>
					</div>
				</div>


				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
		{% if collectorView %}
			{% include 'collection/collector_view_table.html.twig' %}
		{% else %}
			{% include 'collection/player_view_table.html.twig' %}
		{% endif %}

	</div>
{% endblock %}

{% block printing_table %}
	<turbo-stream action="replace" targets="#printing_table">
		<template>
			{% if collectorView %}
				{% include 'collection/collector_view_table.html.twig' %}
			{% else %}
				{% include 'collection/player_view_table.html.twig' %}
			{% endif %}
		</template>
	</turbo-stream>
{% endblock %}
