{% extends "base.html.twig" %}

{% block breadcrumblist %}
	<li class="breadcrumb-item">
        {% if pageType == collectionPageType_SET %}
		    <a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_setoverviewpage') }}">Booster set overview</a>
        {% else %}
		    <a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_classoverviewpage') }}">Class overview</a>
        {% endif %}
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1 class="text-secondary">{{ pageTitle }}</h1>
	</div>
	<div {{ stimulus_controller('filter printing popover infinitescroll') }} class="mx-auto" style="max-width: 1140px;">
		<div class="sticky-top bg-white" style="top: 57px; z-index: 1020;">
			<!-- Toggle button (visible on small screens only) -->
			<button
				class="btn btn-outline-secondary d-sm-none mt-3"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#filterCollapse"
				aria-expanded="false"
				aria-controls="filterCollapse"
			>
				<span>Filters</span>
				<i class="bi bi-chevron-down ms-1" id="filterToggleIcon"></i>
				<i class="bi bi-chevron-right ms-1" id="filterToggleIcon"></i>
			</button>

			<div class="collapse d-sm-block pt-3" id="filterCollapse">
				{{ form_start(form, { attr: {
					'data-filter-target': 'filterForm',
					'data-infinitescroll-target': 'filterForm',
					'data-printing-target': 'filterForm',
					'class': 'mb-0'
				} }) }}

				<div class="my-custom-class-for-errors">
					{{ form_errors(form) }}
				</div>

				<div class="container-fluid overflow-hidden">
					<div class="row justify-content-start align-items-center gy-3 px-sm-0 px-3">

						<div class="col-12 col-md-6 col-lg-3 foiling-filter" {% if not collectorView %} hidden {% endif %}>
							{{ form_widget(form.foiling, { attr: {'data-filter-target': 'foilingFilter'} }) }}
						</div>

						<div class="col-12 col-md-6 col-lg-3 rarity-filter">
							{{ form_widget(form.rarity, { attr: {'data-filter-target': 'rarityFilter'} }) }}
						</div>

						<div class="col-12 col-md-6 col-lg-6">
							{{ form_widget(form.cardName, { attr: {'data-filter-target': 'cardName'} }) }}
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<div class="form-check form-switch">
								{% set loggedIn = is_granted('IS_AUTHENTICATED') %}
								{{ form_widget(form.hide, { attr: {'disabled': not loggedIn} }) }}
								{{ form_label(form.hide, null, {'label_attr': {'class': 'form-check-label'} }) }}

								{% if not loggedIn %}
									<i
										class="bi bi-info-circle text-muted"
										aria-label="Info"
										tabindex="0"
										role="button"
										data-bs-toggle="popover"
										data-bs-trigger="hover focus"
										data-bs-placement="bottom"
										data-bs-content="You need to be signed in to manage your collection."
										style="cursor: pointer;"
									></i>
								{% endif %}
							</div>
						</div>

						<div class="col-12 d-flex justify-content-start justify-content-md-end align-items-center">
							<div class="form-check form-switch">
								{{ form_widget(form.collectorView, { attr: {'data-filter-target': 'collectorViewFilter'} }) }}
								{{ form_label(form.collectorView, null, {'label_attr': {'class': 'form-check-label'} }) }}
							</div>
						</div>

						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0" data-filter-target="toggleAllRowsElement">
				<a class="text-secondary link-underline link-underline-opacity-0"
					data-action="click->printing#toggleAllRows"
					data-printing-target="toggleAllRowsElement"
					style="cursor: pointer;"
				>
					<i class="bi bi-chevron-expand" style="font-size: 1.3rem;"></i> Expand all rows
				</a>
			</div>

		</div>
		{% if collectorView %}
			{% include 'collection/collector_view_table.html.twig' %}
		{% else %}
			{% include 'collection/player_view_table.html.twig' %}
		{% endif %}

		<div
			data-infinitescroll-target="infiniteScrollSpinner"
			class="text-center mt-3"
			{% if cardPrintingsResultSet.nextOffset >= cardPrintingsResultSet.totalAmount %}
				style="display: none"
			{% endif %}
		>
			<div class="spinner-border text-secondary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<button
			{{ stimulus_controller('back-to-top') }}
			data-action="click->back-to-top#scrollToTop"
			class="btn btn-secondary position-fixed"
			style="bottom: 40px; right: 20px; display: none; z-index:99"
			id="backToTopButton"
		>
			↑ Top
		</button>

	</div>
{% endblock %}

{% block printing_table %}
	<turbo-stream action="replace" targets="#printing_table">
		<template>
			{% if collectorView %}
				{% include 'collection/collector_view_table.html.twig' %}
			{% else %}
				{% include 'collection/player_view_table.html.twig' %}
			{% endif %}
		</template>
	</turbo-stream>
{% endblock %}

{% block printing_card_rows %}
	<turbo-stream action="append" targets="#card_printing_table_content">
		<template>
			{% if collectorView %}
				{% include 'collection/collector_view_table_content.html.twig' %}
			{% else %}
				{% include 'collection/player_view_table_content.html.twig' %}
			{% endif %}
		</template>
	</turbo-stream>
{% endblock %}