{% extends "base.html.twig" %}

{% block breadcrumblist %}
	{# <li class="breadcrumb-item"> #}
		{# <a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="#">My Collection</a> #}
	{# </li> #}
	<li class="breadcrumb-item">
        {% if cardPrintingsTree|length == 1 %}
		    <a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_setoverviewpage') }}">Booster set overview</a>
        {% else %}
		    <a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_classoverviewpage') }}">Class overview</a>
        {% endif %}
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
{% endblock %}

{% block body %}
	<div class="container text-center pb-3">
		<h1 class="text-secondary">{{ pageTitle }}</h1>
	</div>
	<div class="container" {{ stimulus_controller('filter printing popover') }}>
		{{ form_start(form, { attr: {'data-filter-target': 'filterForm', 'data-printing-target': 'filterForm' } }) }}

		<div class="my-custom-class-for-errors">
			{{ form_errors(form) }}
		</div>

		<div class="container overflow-hidden">
			<div class="row justify-content-start align-items-center gy-3">

				<div class="col-12 col-md-6 col-lg-3 foiling-filter" {% if not collectorView %} hidden {% endif %}>
					{{ form_widget(form.foiling, { attr: {'data-filter-target': 'foilingFilter'} }) }}
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					{{ form_widget(form.cardName, { attr: {'data-filter-target': 'cardName'} }) }}
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<div class="form-check form-switch">
						{% set loggedIn = is_granted('IS_AUTHENTICATED_FULLY') %}
						{{ form_widget(form.hide, { attr: {'disabled': not loggedIn} }) }}
						{{ form_label(form.hide, null, {'label_attr': {'class': 'form-check-label'} }) }}
							
						{% if not loggedIn %}
    						<i 
								class="bi bi-info-circle text-muted" 
								aria-label="Info"
								tabindex="0"
								role="button"
								data-bs-toggle="popover"
								data-bs-trigger="hover focus"
								data-bs-placement="bottom"
								data-bs-content="You need to be signed in to manage your collection."
								style="cursor: pointer;"
							></i>
						{% endif %}
					</div>
				</div>

				<div class="col-12 d-flex justify-content-start justify-content-md-end align-items-center">

					<div class="form-check form-switch">
						{{ form_widget(form.collectorView, { attr: {'data-filter-target': 'collectorViewFilter'} }) }}
						{{ form_label(form.collectorView, null, {'label_attr': {'class': 'form-check-label'} }) }}
					</div>
				</div>


				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
		{% if collectorView %}
			{% include 'collection/collector_view_table.html.twig' %}
		{% else %}
			{% include 'collection/player_view_table.html.twig' %}
		{% endif %}

	</div>
	<button 
		{{ stimulus_controller('back-to-top') }}
		data-action="click->back-to-top#scrollToTop" 
		class="btn btn-secondary position-fixed" 
		style="bottom: 20px; right: 20px; display: none; z-index:99" 
		id="backToTopButton"
	>
		↑ Top
	</button>

{% endblock %}

{% block printing_table %}
	<turbo-stream action="replace" targets="#printing_table">
		<template>
			{% if collectorView %}
				{% include 'collection/collector_view_table.html.twig' %}
			{% else %}
				{% include 'collection/player_view_table.html.twig' %}
			{% endif %}
		</template>
	</turbo-stream>
{% endblock %}
