{% extends "base.html.twig" %}

{% block breadcrumblist %}
    <li class="breadcrumb-item"><a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="#">My Collection</a></li>
    <li class="breadcrumb-item"><a class="link-secondary link-offset-2 link-underline-opacity-40 link-underline-opacity-100-hover" href="{{ path('app_card_setoverviewpage') }}">Class overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ class }}</li>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="text-secondary">{{ class|title }}</h1>
    </div>
    <div class="container" {{ stimulus_controller('filter printing') }}>
        {{ form_start(form, { attr: {'data-filter-target': 'filterForm', 'data-printing-target': 'filterForm' } }) }}
 
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="container overflow-hidden">
            <div class="row justify-content-start align-items-center gy-3">
                <div class="col-xl-2 col-lg-3 col-6">
                    {{ form_widget(form.foiling) }}
                </div>

                <div class="col-lg-3 col-6">
                    {{ form_widget(form.cardName, { attr: {'data-filter-target': 'cardName'} }) }}
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-check form-switch">
                        {{ form_widget(form.hide) }}
                        <label class="form-check-label" for="hideOwnedCards">Hide completed playsets</label>
                    </div>
                </div>

            
            {{ form_rest(form) }}
            {{ form_end(form) }} 
            </div>
        </div>
        {% include 'printing/printings_table_by_class.html.twig' %}
        
    </div>
{% endblock %}

{% block printing_table %}
    <turbo-stream action="replace" targets="#printing_table">
        <template>
            {% include 'printing/printings_table_by_class.html.twig' %}
        </template>
    </turbo-stream>
{% endblock %}