{% extends "base.html.twig" %}

{% block body %}
	<div class="text-center">
		<h1 class="text-secondary">Promo collection</h1>
	</div>
	<div class="mx-auto" {{ stimulus_controller('filter printing popover') }}>
		<div class="sticky-top bg-white pb-1" style="top: 57px; z-index: 1020;">
			<!-- Toggle button (visible on small screens only) -->
			<button 
				class="btn btn-outline-secondary d-sm-none mt-3" 
				type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#filterCollapse" 
				aria-expanded="false" 
				aria-controls="filterCollapse"
			>
				<span>Filters</span>
				<i class="bi bi-chevron-down ms-1" id="filterToggleIcon"></i>
				<i class="bi bi-chevron-right ms-1" id="filterToggleIcon"></i>
			</button>

			<div class="collapse d-sm-block pt-3" id="filterCollapse">
				{{ form_start(form, { attr: {'data-filter-target': 'filterForm', 'data-printing-target': 'filterForm' } }) }}

				<div class="my-custom-class-for-errors">
					{{ form_errors(form) }}
				</div>

				<div class="overflow-hidden">
					<div class="row justify-content-start align-items-center gy-3 px-sm-0 px-3">

						<div class="col-12 col-md-6 col-lg-3 foiling-filter">
							{{ form_widget(form.foiling, { attr: {'data-filter-target': 'foilingFilter'} }) }}
						</div>

						<div class="col-12 col-md-6 col-lg-3">
							{{ form_widget(form.cardName, { attr: {'data-filter-target': 'cardName'} }) }}
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<div class="form-check form-switch">
								{% set loggedIn = is_granted('IS_AUTHENTICATED_FULLY') %}
								{{ form_widget(form.hide, { attr: {'disabled': not loggedIn} }) }}
								{{ form_label(form.hide, null, {'label_attr': {'class': 'form-check-label'} }) }}

								{% if not loggedIn %}
									<i 
										class="bi bi-info-circle text-muted" 
										aria-label="Info"
										tabindex="0"
										role="button"
										data-bs-toggle="popover"
										data-bs-trigger="hover focus"
										data-bs-placement="bottom"
										data-bs-content="You need to be signed in to manage your collection."
										style="cursor: pointer;"
									></i>
								{% endif %}
							</div>
						</div>

						<div class="col-12 d-flex justify-content-start justify-content-md-end align-items-center">
							<div class="form-check form-switch" hidden>
								{{ form_widget(form.collectorView, { attr: {'data-filter-target': 'collectorViewFilter', 'hidden': true} }) }}
								<label class="form-check-label" for="card_filter_form_collectorView">Show expanded 'collector view'</label>
							</div>
						</div>


						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
		{% include 'collection/collector_view_table.html.twig' with {'promoView': true} %}

	</div>
	<button 
		{{ stimulus_controller('back-to-top') }}
		data-action="click->back-to-top#scrollToTop" 
		class="btn btn-secondary position-fixed" 
		style="bottom: 20px; right: 20px; display: none; z-index:99" 
		id="backToTopButton"
	>
		↑ Top
	</button>

{% endblock %}

{% block printing_table %}
	<turbo-stream action="replace" targets="#printing_table">
		<template>
				{% include 'collection/collector_view_table.html.twig' with {'promoView': true} %}
		</template>
	</turbo-stream>
{% endblock %}
