{% extends "base.html.twig" %}
{# bottom of new.html.twig #}

{% block body %}

{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_widget(form.foiling) }}

    <div class="form-check form-switch">
            {# <input class="form-check-input" type="checkbox" role="switch" id="hideOwnedCards" name="hideOwnedCards"  data-printing-target="field"> #}
             {{ form_widget(form.hide) }}
            <label class="form-check-label" for="hideOwnedCards">Hide owned cards</label>
        </div>
    </div>
{{ form_rest(form) }}

{% include 'partial.html.twig' %}

{% endblock %}


{% block success_stream %}
    <turbo-stream action="replace" targets="#my_div_id">
        <template>
           {% include 'partial.html.twig' %}
        </template>
    </turbo-stream>
{% endblock %}